@{
    ViewBag.Title = "Home Page";
}



<div class="container mt-5">
    <div class="card">
        <div class="card-header">Pagina de inicio</div>
        <div class="card-body">

            <h1>Bienvenido!</h1>

        </div>
    </div>
</div>
