

@{
    ViewBag.Title = "Lista_Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista_Usuario</h2>

<div class="container mt-5">
    <div class="card">
        <div class="card-header">Registro</div>
        <div class="card-body">
            <table id="Table" class="table">
                <thead>
                    <tr>
                        <th>
                            <span>Cedula</span>
                        </th>
                        <th>
                            <span>Tipo_Usuario</span>
                        </th>
                        <th>
                            <span>Tipo_Identificacion</span>
                        </th>
                        <th>
                            <span>Nombre</span>
                        </th>
                        <th>
                            <span>Nombre_Usuario</span>
                        </th>
                        <th>
                            <span>Correo</span>
                        </th>
                        <th>
                            <span>Eliminar</span>
                        </th>
                        <th>
                            <span>Editar</span>
                        </th>
                       

                    </tr>
                </thead>

            </table>
        </div>
    </div>
</div>
            <script>
                $(document).ready(function () {



                    $('#Table').DataTable({
                        "ajax": {
                            "url": "https://localhost:44399/Home/List",
                            "dataSrc": ""
                        },
                        "columns": [
                            { "data": "Cedula" },
                            { "data": "Tipo_Usuario" },
                            { "data": "Tipo_Identificacion" },
                            { "data": "Nombre" },
                            { "data": "Nombre_Usuario" },
                            { "data": "Correo" }
                        ],
                        "columnDefs": [
                          
                            {
                                "targets": + 6,
                                "data": "Id",
                                "render": function (data, type, row, meta) {
                                    return '<a href="/Home/Eliminar?fk_usuario='+data+'"  class="btn tooltips-general" data-toggle="tooltip" data-placement="top" ><i class="zmdi zmdi-file-text"></i></a>';
                                }
                            },
                            {
                                "targets": + 7,
                                "data": "Id",
                                "render": function (data, type, row, meta) {
                                    return '<a href="/Home/Editar?fk_usuario='+data+'"  class="btn  tooltips-general" data-toggle="tooltip" data-placement="top" ><i class="zmdi zmdi-refresh"></i></a>';
                                }
                            }
                        ]

                    });
                });
            </script>
